* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #adadad;
    --accent-color: #c4cdac;
    --secondary-accent: #11335e;
    --header-color: #171717;
    --darkest-bg-color: #212121;
    --dark-bg-color: #343434;
}

body {
    color: var(--text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
}

/* Header / Nav Bar Styles  */ 
header {
    padding: 20px 0;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/landing_bg.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    z-index: 9999;
    background-position: center;
}

header h1 {
    color: var(--text-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    font-weight: bold;
    padding: 10px 0 5px 100px;
}

header a {
    text-decoration: none;
    color: var(--text-color);
}

header nav {
    margin: 40px 100px 0 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 20px;
    margin: 0 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: var(--accent-color);
}

header nav ul li a:active {
    color: var(--secondary-accent);
}
/* End Header Styles */

/* Utility Classes */

/* End Utility Classes */

/* Hero Styles */ 
.hero {
    background-image: url("../images/landing_bg.png");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: center;
}

.hero div {
    font-size: 16px;
    margin: 7%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
/* End Hero Styles */

/* About Me Styles */ 

/* End About Me Styles */

/* Section Titles */ 


/* Work Styles */


/* End Work Styles */ 

/* Resume Styles */

/* End Resume Styles */ 

/* Footer Contact Styles */ 
.footer {
    /*border-top: 10px dashed var(--accent-color);*/
    background-color: var(--darkest-bg-color);
    padding: 100px 0;
}
/* End Footer Contact Styles */ 


/* MEDIA QUERY for Smaller Desktop Screens and Smaller */ 
@media screen and (max-width: 1200px) {
    header {
        padding-bottom: 0;
    }
    
    header h1 a {
        padding: 0 15px;
        justify-content: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
    }
    
    header nav ul li a {
        font-size: 20px;
    }
}