* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --link-color: #009688;
    --text-color: #adadad;
    --background-color: #212121;
    --header-color: #343434;
}

body {
    color: var(--text-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* Header */ 
header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color: #171717;
    /*border-bottom: 8px dashed var(--text-color);*/
    margin: 0;
}

header h1 a {
    color: royalblue;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    padding-left: 40px;
    display: inline-block;
    padding-top: 10px;
    border-bottom: 4px dashed var(--text-color);
}

header a {
    text-decoration: none;
}

header nav {
    margin: 40px 80px 0 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    color: var(--text-color);
    font-size: 1.55vw;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    /*border-bottom: 4px dashed var(--text-color);*/
}

header nav ul li a:hover {
    color: var(--link-color);
    border-bottom: 4px dashed var(--text-color);
}

header nav ul li a:active {
    color: royalblue;
    border-bottom: 4px dashed var(--link-color)
}
/* End Header Styles */

/* Utility Classes */
.flex-row {
    display: flex;
}

/* Hero Styles */ 
.hero {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    padding: 100px;
    background-image: url("../images/bg_paper.jpg");
    background-size: cover;
    background-position: center;
    border: 10px dashed var(--link-color);
}

.about img {
    width: 25%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border: 1rem solid rgba(52, 52, 52, 0.30);
}

.bio {
    display: flex;
    font-size: 1.25vw;
    align-items: center;
    padding: 20px 30px;
    text-align: right;
    background-color: rgba(52,52,52,0.30);
    
}

.palette {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.color_1 {
    padding: 40px;
    background-color: slategray;
}

.color_2 {
    padding: 40px;
    background-color: steelblue;
}

.color_3 {
    padding: 40px;
    background-color:royalblue;
}
/* End Hero Styles */

/* Work Styles */

/* End Work Styles */ 

/* Resume Styles */

/* End Resume Styles */ 

/* Footer Contact Styles */ 
.footer {
    /*border-top: 10px dashed var(--link-color);*/
    background-color: var(--background-color);
    padding: 200px 0;
}
/* End Footer Contact Styles */ 